<!-- <div class="bys-bootstrap">
  <div class="container">
    <div id="quick-add-errors"></div>
  </div>
</div> -->
<!-- <div id="quick-add-errors"></div> -->

<div id="<%= @id %>" style='width: 699px'>
  <%= yield %>
</div>

